{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Shop Future</title>
    <meta
      name="description"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="HTMLCooker" />

    <!--CSS-->
    {% block cssblock %}{% endblock cssblock %}
  </head>

  <body class="cms-index-index">
    <!--header-->
    <header>{% include "homepage/header.html" %}</header>

    <!--Content-->
    {% comment %} {% block content %}{% endblock content %} {% endcomment %}

    <!--Footer-->

    <footer>{% include "homepage/footer.html" %}</footer>

    <!--JS-->
    {% block js_block %}{% endblock js_block %}
  </body>
</html>
