<nav>
  <div class="em-wrapper-area02">
    <div class="menu-wrapper hidden-xs">
      <div id="menuleftText" class="all_categories">
        <div class="menuleftText-title">
          <div class="menuleftText">
            <span class="em-text-upercase">Categories</span>
          </div>
        </div>
      </div>
      <!-- /.menuleftText -->
      <div class="menuleft">
        <div id="menu-default" class="mega-menu em-menu-icon">
          <div class="megamenu-wrapper wrapper-5_4607">
            <div class="em_nav" id="toogle_menu_5_4607">
              <ul class="vnav em-menu-icon effect-menu em-menu-long">
                {% if root_categories.children.all or root_categories %}
                <!-- /.menu-item-link -->

                {% for category in root_categories %}
                <li class="menu-item-link menu-item-depth-0 menu-item-parent">
                  <a class="em-menu-link" href="#">
                    <span> {{category.title}} </span>
                  </a>
                  <ul class="menu-container">
                    <li
                      class="menu-item-hbox menu-item-depth-1 col-menu menu_col5 fix-top menu-item-parent"
                      style=""
                    >
                      <ul class="menu-container">
                        <li
                          class="menu-item-vbox menu-item-depth-2 col-sm-24 alpha menu-item-parent"
                          style=""
                        >
                          <ul class="menu-container">
                            <li class="menu-item-text menu-item-depth-3">
                              <h4>{{category.title}}</h4>
                              {% if category.children.all %}
                              <ul class="menu-container">
                                <li
                                  class="menu-item-link menu-item-depth-1 first"
                                >
                                  <a class="em-menu-link" href="#"
                                    ><span>Landing Page</span>
                                  </a>
                                </li>
                              </ul>
                              {% endif %}
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <!-- /.menu-item-hbox -->
                  </ul>
                </li>
                {% endfor %}
                <!-- /.menu-item-link -->
                {% else %}
                <li
                  class="menu-item-link menu-item-depth-0 fa fa-leaf hidden-sm"
                >
                  <a class="em-menu-link" href="#">
                    <span> {{root_categories.title}}</span>
                  </a>
                </li>

                {% endif %}
              </ul>
              <!-- /.vnav -->
            </div>
          </div>
          <!-- /.megamenu-wrapper -->
        </div>
      </div>
      <!-- /.menuleft -->
    </div>
  </div>
  <!-- /.em-wrapper-area02 -->
</nav>
