<nav>
  <div class="em-wrapper-area02">
    <div class="menu-wrapper hidden-xs">
      <div id="menuleftText" class="all_categories">
        <div class="menuleftText-title">
          <div class="menuleftText">
            <span class="em-text-upercase">Categories</span>
          </div>
        </div>
      </div>
      <!-- /.menuleftText -->
      <div class="menuleft">
        <div id="menu-default" class="mega-menu em-menu-icon">
          <div class="megamenu-wrapper wrapper-5_4607">
            <div class="em_nav" id="toogle_menu_5_4607">
              <ul class="vnav em-menu-icon effect-menu em-menu-long">
                <li
                  class="menu-item-link menu-item-depth-0 fa fa-automobile menu-item-parent"
                >
                  <a class="em-menu-link" href="#">
                    <span> Bottoms </span>
                  </a>
                  <ul
                    class="menu-container"
                    style="
                      background-image: url(images/menu/16644541718_a9bf09d186_b.jpg);
                      background-repeat: no-repeat;
                      background-position: right bottom;
                    "
                  ></ul>
                </li>
                <!-- /.menu-item-link -->

                <!-- /.menu-item-link -->

                <li
                  class="menu-item-link menu-item-depth-0 em-more-menu fa fa-glass hidden-sm"
                >
                  <a class="em-menu-link" href="#">
                    <span> Shoes </span>
                  </a>
                </li>
                <!-- /.menu-item-link -->

                <!---->

                <!-- /.menu-item-link -->
              </ul>
              <!-- /.vnav -->
            </div>
          </div>
          <!-- /.megamenu-wrapper -->
        </div>
      </div>
      <!-- /.menuleft -->
    </div>
  </div>
</nav>
