<link rel="shortcut icon" href="http://placehold.it/64.png/000/fff" />
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="http://placehold.it/144.png/000/fff"
/>
<link
  rel="apple-touch-icon"
  sizes="114x114"
  href="http://placehold.it/114.png/000/fff"
/>
<!-- Standard iPad Touch Icon-->
<link
  rel="apple-touch-icon"
  sizes="72x72"
  href="http://placehold.it/72.png/000/fff"
/>
<!-- Standard iPhone Touch Icon-->
<link
  rel="apple-touch-icon"
  sizes="57x57"
  href="http://placehold.it/57.png/000/fff"
/>

<!-- ================= Google Fonts ================== -->
<link
  href="http://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="http://fonts.googleapis.com/css?family=Lora:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext"
  rel="stylesheet"
  type="text/css"
/>
<!-- Menu CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/menu.css' %}"
  media="all"
/>
<!-- Mega Menu CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/megamenu.css' %}"
  media="all"
/>

<!-- Default CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/styles.css' %}"
  media="all"
/>
<!-- Font Awesome CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/font-awesome.css' %}"
  media="all"
/>
<!-- Owl Carousel CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/owl.carousel.css' %}"
  media="all"
/>
<!-- Responsive CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/responsive.css' %}"
  media="all"
/>
<!-- Bootstrap CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/bootstrap.css' %}"
  media="all"
/>
<!-- Product Labels CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/em_productlabels.css' %}"
  media="all"
/>

<!-- Fancybox CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/jquery.fancybox.css' %}"
  media="all"
/>

<!-- Responsive Tab CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/responsive-tabs.css' %}"
  media="all"
/>
<!-- Print CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/print.css' %}"
  media="print"
/>
<!-- Fashion CSS -->
<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="{% static 'homepage/css/style_fashion.css' %}"
/>
<!-- Fashion CSS -->
<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="{% static 'homepage/css/color1.css' %}"
/>

<!--End CSS-->
<!--JS-->

<script
  type="text/javascript"
  src="{% static 'homepage/js/jquery-1.11.3.min.js' %}"
></script>
<!-- Bootstrap Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/bootstrap.min.js' %} "
></script>
<!-- Lazy Load Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/jquery.lazyload.min.js' %} "
></script>
<!-- Owl Carousel Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/owl.carousel.js' %}"
></script>
<!-- Ios Orientation Change Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/ios-orientationchange-fix.js' %} "
></script>
<!-- Hover Intent Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/jquery.hoverIntent.js' %}"
></script>
<!-- Select UI Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/selectUl.js' %} "
></script>
<!-- Throttle Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/jquery.ba-throttle-debounce.js' %} "
></script>
<!-- EM Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/em0131.js' %} "
></script>
<!-- MegaMenu Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/megamenu.js' %} "
></script>
<!-- Responsive Tab Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/jquery.custom.responsiveTabs.js' %} "
></script>
<!-- Fancybox Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/jquery.fancybox.js' %} "
></script>
<!-- Custom Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/custom.js' %} "
></script>
