{% extends "homepage/base.html" %}
<!---->
{% load static %}
<!---->
<!--CSS-->
{% block cssblock %}
<link rel="shortcut icon" href="http://placehold.it/64.png/000/fff" />
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="http://placehold.it/144.png/000/fff"
/>
<link
  rel="apple-touch-icon"
  sizes="114x114"
  href="http://placehold.it/114.png/000/fff"
/>
<!-- Standard iPad Touch Icon-->
<link
  rel="apple-touch-icon"
  sizes="72x72"
  href="http://placehold.it/72.png/000/fff"
/>
<!-- Standard iPhone Touch Icon-->
<link
  rel="apple-touch-icon"
  sizes="57x57"
  href="http://placehold.it/57.png/000/fff"
/>

<!-- ================= Google Fonts ================== -->
<link
  href="http://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="http://fonts.googleapis.com/css?family=Lora:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext"
  rel="stylesheet"
  type="text/css"
/>
<!-- Menu CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/menu.css' %}"
  media="all"
/>
<!-- Mega Menu CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/megamenu.css' %}"
  media="all"
/>

<!-- Default CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/styles.css' %}"
  media="all"
/>
<!-- Font Awesome CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/font-awesome.css' %}"
  media="all"
/>
<!-- Owl Carousel CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/owl.carousel.css' %}"
  media="all"
/>
<!-- Responsive CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/responsive.css' %}"
  media="all"
/>
<!-- Bootstrap CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/bootstrap.css' %}"
  media="all"
/>
<!-- Product Labels CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/em_productlabels.css' %}"
  media="all"
/>

<!-- Fancybox CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/jquery.fancybox.css' %}"
  media="all"
/>

<!-- Responsive Tab CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/responsive-tabs.css' %}"
  media="all"
/>
<!-- Print CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'homepage/css/print.css' %}"
  media="print"
/>
<!-- Fashion CSS -->
<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="{% static 'homepage/css/style_fashion.css' %}"
/>
<!-- Fashion CSS -->
<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="{% static 'homepage/css/color1.css' %}"
/>
{% endblock cssblock %}
<!--End CSS-->
<!--JS-->
{% block js_block %}
<script
  type="text/javascript"
  src="{% static 'homepage/js/jquery-1.11.3.min.js' %}"
></script>
<!-- Bootstrap Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/bootstrap.min.js' %} "
></script>
<!-- Lazy Load Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/jquery.lazyload.min.js' %} "
></script>
<!-- Owl Carousel Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/owl.carousel.js' %}"
></script>
<!-- Ios Orientation Change Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/ios-orientationchange-fix.js' %} "
></script>
<!-- Hover Intent Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/jquery.hoverIntent.js' %}"
></script>
<!-- Select UI Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/selectUl.js' %} "
></script>
<!-- Throttle Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/jquery.ba-throttle-debounce.js' %} "
></script>
<!-- EM Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/em0131.js' %} "
></script>
<!-- MegaMenu Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/megamenu.js' %} "
></script>
<!-- Responsive Tab Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/jquery.custom.responsiveTabs.js' %} "
></script>
<!-- Fancybox Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/jquery.fancybox.js' %} "
></script>
<!-- Custom Js -->
<script
  type="text/javascript"
  src="{% static 'homepage/js/custom.js' %} "
></script>
{% endblock js_block %}

<!---->
{% block register %}
<div class="em-wrapper-main">
  <div class="container container-main">
    <div class="em-inner-main">
      <div class="em-wrapper-area02"></div>
      <div class="em-main-container em-col1-layout">
        <div class="row">
          <div class="em-col-main col-sm-24">
            <div class="account-create">
              <div class="page-title">
                <h1>Create an Account</h1>
              </div>

              <!--Form-->
              <form method="post" id="form-validate">
                {% csrf_token %}
                <div class="fieldset">
                  <input type="hidden" name="success_url" value="" />
                  <input type="hidden" name="error_url" value="" />
                  <h2 class="legend">Personal Information</h2>
                  <ul class="form-list">
                    <li class="fields">
                      <div class="customer-name-middlename">
                        <div class="field name-firstname">
                          <label for="firstname" class="required"
                            ><em>*</em>First Name</label
                          >
                          <div class="input-box">
                            <input
                              type="text"
                              id="firstname"
                              name="firstname"
                              value=""
                              title="First Name"
                              maxlength="255"
                              class="input-text required-entry"
                            />
                          </div>
                        </div>
                        <div class="field name-middlename">
                          <label for="middlename">Middle Name/Initial</label>
                          <div class="input-box">
                            <input
                              type="text"
                              id="middlename"
                              name="middlename"
                              value=""
                              title="Middle Name/Initial"
                              class="input-text"
                            />
                          </div>
                        </div>
                        <div class="field name-lastname">
                          <label for="lastname" class="required"
                            ><em>*</em>Last Name</label
                          >
                          <div class="input-box">
                            <input
                              type="text"
                              id="lastname"
                              name="lastname"
                              value=""
                              title="Last Name"
                              maxlength="255"
                              class="input-text required-entry"
                            />
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <label for="email_address" class="required"
                        ><em>*</em>Email Address</label
                      >
                      <div class="input-box">
                        <input
                          type="text"
                          name="email"
                          id="email_address"
                          value=""
                          title="Email Address"
                          class="input-text validate-email required-entry"
                        />
                      </div>
                    </li>
                    <li class="control">
                      <div class="input-box">
                        <input
                          type="checkbox"
                          name="is_subscribed"
                          title="Sign Up for Newsletter"
                          value="1"
                          id="is_subscribed"
                          class="checkbox"
                        />
                      </div>
                      <label for="is_subscribed">Sign Up for Newsletter</label>
                    </li>
                  </ul>
                </div>
                <div class="fieldset">
                  <h2 class="legend">Login Information</h2>
                  <ul class="form-list">
                    <li class="fields">
                      <div class="field">
                        <label for="password" class="required"
                          ><em>*</em>Password</label
                        >
                        <div class="input-box">
                          <input
                            type="password"
                            name="password"
                            id="password"
                            title="Password"
                            class="input-text required-entry validate-password"
                          />
                        </div>
                      </div>
                      <div class="field">
                        <label for="confirmation" class="required"
                          ><em>*</em>Confirm Password</label
                        >
                        <div class="input-box">
                          <input
                            type="password"
                            name="confirmation"
                            title="Confirm Password"
                            id="confirmation"
                            class="input-text required-entry validate-cpassword"
                          />
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div
                    id="window-overlay"
                    class="window-overlay"
                    style="display: none"
                  ></div>
                  <div
                    id="remember-me-popup"
                    class="remember-me-popup"
                    style="display: none"
                  >
                    <div class="remember-me-popup-head">
                      <h3>What's this?</h3>
                      <a href="#" class="remember-me-popup-close" title="Close"
                        >Close</a
                      >
                    </div>
                    <div class="remember-me-popup-body">
                      <p>
                        Checking &quot;Remember Me&quot; will let you access
                        your shopping cart on this computer when you are logged
                        out
                      </p>
                      <div class="remember-me-popup-close-button a-right">
                        <a
                          href="#"
                          class="remember-me-popup-close button"
                          title="Close"
                          ><span>Close</span></a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="buttons-set">
                    <p class="back-link">
                      <a href="login.html" class="back-link"
                        ><small>&laquo; </small>Trở lại</a
                      >
                    </p>
                    <button type="submit" title="Submit" class="button">
                      <span><span>Gửi</span></span>
                    </button>
                    <p class="required">* Bắt buộc</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.em-wrapper-main -->

{% endblock register %}
